<template>
  <section>
    <v-container :style="{'min-height':'100vh'}" fluid>
      <v-row
        :style="{'padding-left': $breakpoint.is.mdAndUp ? '135px !important' : '',
                 'padding-right': $breakpoint.is.mdAndUp ? '80px !important' : ''}"
        justify="center"
        class="mt-12 pt-12"
      >
        <v-expansion-panels
          v-model="selected"
          accordion
          multiple
          elevation="0"
        >
          <v-expansion-panel
            v-for="(item, i) in Object.keys(items)"
            :key="i"
            :style="{'background-color':'transparent'}"
            class="dark--text elevation-0"
          >
            <v-expansion-panel-header
              :style="{'background-color':'transparent', 'min-height': '15px'}"
              hide-actions
              class="py-0"
            >
              <template #default="{ open }">
                <div class="d-flex flex-column">
                  <v-divider color="grey" />
                  <p class="py-1 my-2">
                    {{ item }}
                  </p>
                  <v-divider v-if="i === Object.keys(items).length - 1 && !open" color="grey" />
                </div>
              </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content color="transparent">
              <v-container class="mt-0">
                <v-row :class="$breakpoint.is.smAndDown ? 'pr-3': ''">
                  <v-col
                    v-for="(p, index) in items[item]"
                    :key="index"
                    md="4"
                    sm="6"
                    cols="9"
                    class="pr-0 pb-0"
                  >
                    <v-hover v-slot="{ hover }">
                      <v-card
                        :to="'/' + p.servicio.slug + '/' + p.slug"
                        color="transparent"
                        elevation="0"
                        class="dark--text"
                        nuxt
                      >
                        <h4
                          v-show="hover || $breakpoint.is.xsOnly"
                          :style="{'position':'absolute',
                                   'font-size':$breakpoint.is.xsOnly ? '38px':'43px',
                                   'font-weight': 400,
                                   'z-index':1}"
                          class="pt-4 pl-6"
                        >
                          {{ p.titulo }}
                        </h4>
                        <cld-image
                          :style="{ 'border-radius':'4px', 'opacity': hover ? 0.5 : 1}"
                          responsive
                          aspect_ratio="1"
                          fetch-format="auto"
                          quality="auto"
                          loading="lazy"
                          :public-id="p.imagenPrincipal[0].public_id"
                        >
                          <cld-placeholder type="predominant-color" />
                        </cld-image>
                      </v-card>
                    </v-hover>
                  </v-col>
                </v-row>
              </v-container>
              <div
                v-if="item.paginaWeb || item.logo"
                class="d-flex flex-column align-end pt-7"
              >
                <a :href="item.paginaWeb" target="_blank" class="black--text">
                  <cld-image
                    v-if="item.logo"
                    responsive
                    fetch-format="auto"
                    quality="auto"
                    loading="lazy"
                    :public-id="item.logo[0].public_id"
                  >
                    <cld-placeholder type="predominant-color" />
                  </cld-image>
                  <span v-if="!item.logo">
                    Web del {{ item.especialidad }}
                  </span>
                </a>
              </div>
              <v-divider v-if="i === Object.keys(items).length - 1" :style="{'height':'20px' }" color="grey" class="mt-3" />
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-row>
    </v-container>
  </section>
</template>

<script>
import { anoQuery } from '~/graphql/query'

const groupBy = function (xs, key) {
  return xs.reduce(function (rv, x) {
    (rv[x[key]] = rv[x[key]] || []).push(x)
    return rv
  }, {})
}

export default {
  async asyncData ({ $graphql, params }) {
    const resultsQuery = await $graphql.default.request(anoQuery)
    return { items: groupBy(resultsQuery.proyectoCollection.items, 'ano') }
  },
  data () {
    return {
      selected: []
    }
  },
  mounted () {
    const valorFiltro = Object.values(this.$route.query)[0]
    this.selected = [Object.keys(this.items).findIndex(item => item === valorFiltro)]
  }
}
</script>

<style scoped>
.v-expansion-panel::before {
  box-shadow: none !important;
}
</style>
