
<template>
  <section>
    <div
      :style="{'height': '100vh', 'position': 'relative', 'overflow':'hidden'}"
      class="d-flex align-center justify-center"
    >
      <cld-image
        :style="{ 'position' : 'absolute', 'width': '100vw', 'height': '100vh'}"
        :width="getWidth"
        :height="getHeight"
        crop="fill"
        fetch-format="auto"
        quality="auto"
        loading="lazy"
        :public-id="imagen[0].public_id"
      >
        <cld-placeholder type="predominant-color" />
      </cld-image>
      <h1
        :style="{'z-index':'2', 'font-size':$breakpoint.is.xsOnly ? '45px':'70px', 'font-weight': 400}"
        class="dark--text text-center"
      >
        <u-animate-container>
          <u-animate
            :iteration="1"
            :offset="0"
            :begin="false"
            name="fadeInUpBig"
            delay="0s"
            duration="1s"
            animate-class="animated"
          >
            {{ titulo }}
          </u-animate>
        </u-animate-container>
      </h1>
    </div>
    <section v-for="(bloque, index) in bloquesCollection.items" :key="index">
      <ListaServicios
        v-if="bloque.__typename === 'BloqueListaServicios'"
        :bloque="bloque"
        :style="{'margin-top': '40vh',
                 'margin-bottom': '40vh'}"
      />
      <HomeProyecto
        v-if="bloque.__typename === 'BloqueProyecto'"
        :bloque="bloque"
        :style="{'margin-top': '40vh',
                 'margin-bottom': '40vh'}"
      />
      <HomeListaProyectos
        v-if="bloque.__typename === 'BloqueListaProyectos'"
        :bloque="bloque"
        :style="{'margin-top': '40vh',
                 'margin-bottom': '40vh'}"
      />
      <HomeEquipo
        v-if="bloque.__typename === 'BloqueMiembrosEquipo'"
        :bloque="bloque"
        :style="{'margin-top': '40vh',
                 'margin-bottom': '40vh'}"
      />
      <TeEstamosEsperando
        v-if="bloque.__typename === 'BloqueImagenConMensaje'"
        :bloque="bloque"
        :style="{'margin-top': '40vh',
                 'margin-bottom': '40vh'}"
      />
    </section>
  </section>
</template>

<script>
/* eslint-disable vue/no-unused-components */
import HomeProyecto from '@/components/Home/Proyecto'
import HomeListaProyectos from '@/components/Home/ListaProyectos'
import HomeEquipo from '@/components/Home/Equipo'
import TeEstamosEsperando from '@/components/Home/TeEstamosEsperando'
import ListaServicios from '@/components/Home/ListaServicios'
// import { mapGetters } from 'vuex'
import { UAnimateContainer, UAnimate } from 'vue-wow'

import { paginaHomeQuery } from '~/graphql/query'

export default {
  components: {
    UAnimateContainer,
    UAnimate,
    HomeProyecto,
    HomeListaProyectos,
    HomeEquipo,
    TeEstamosEsperando,
    ListaServicios
  },
  async asyncData ({ $graphql, params }) {
    const resultsQuery = await $graphql.default.request(paginaHomeQuery)
    return resultsQuery.paginaHome
  },
  head () {
    return {
      title: this.metaTitulo,
      meta: [
        { hid: 'description', name: 'description', content: this.metaDescripcion }
      ]
    }
  },
  computed: {
    getWidth () {
      if (process.client) {
        return window.innerWidth
      } else {
        return null
      }
    },
    getHeight () {
      if (process.client) {
        return window.innerHeight
      } else {
        return null
      }
    }
  },
  jsonld () {
    return {
      '@context': 'http://schema.org',
      '@type': 'LocalBusiness',
      name: 'Fama Rehabilitaciones, S.L.',
      image: this.imagen[0].original_secure_url,
      telephone: '965 29 44 77',
      address: {
        '@type': 'PostalAddress',
        streetAddress: 'Carrer de Vicente Clavel Florentino, 17',
        addressLocality: 'Elx, Alicante',
        postalCode: '03203'
      }
    }
  }
}
</script>

<style scoped>
.letraTipoProyecto{
  text-decoration: underline;
  font-weight: 400;
}
</style>
