<template>
  <v-app :style="{'background-color': '#E3E3E3'}">
    <transition name="fade">
      <div
        v-if="!loaded"
        id="cover"
        class="fade-leave-active d-flex align-center justify-center"
        transition="slide-x-transition"
      >
        <div class="lds-ellipsis">
          <div /><div /><div /><div />
        </div>
      </div>
    </transition>
    <v-app-bar
      v-scroll="onScroll"
      :style="{'padding-right': $breakpoint.is.smAndUp ? (parseFloat(padding_right_sm.slice(0, -2)) - 40).toString() + 'px !important': '' }"
      class="mt-4"
      fixed
      app
      color="transparent"
      elevation="0"
    >
      <v-toolbar-title>
        <v-btn :style="{'height':'56px'}" to="/" nuxt color="transparent" class="buttonNoActive pa-0">
          <cld-image
            :width="$breakpoint.is.smAndDown ? $breakpoint.is.xsOnly ? 70 : 90 : 126"
            crop="fill"
            fetch-format="auto"
            quality="auto"
            loading="lazy"
            :public-id="whiteLogo && $route.path=='/' ? configuracion.logoClaro[0].public_id : configuracion.logoOscuro[0].public_id"
          />
        </v-btn>
      </v-toolbar-title>
      <v-spacer />
      <v-btn
        v-ripple="false"
        :class="whiteLogo && $route.path=='/' ? 'white--text': 'dark--text'"
        icon
        depressed
        class="buttonNoActive mr-n4"
        @click.stop="rightDrawer = !rightDrawer"
      >
        <div class="d-flex flex-column">
          <span>M</span>
          <span>E</span>
          <span>N</span>
          <span>U</span>
        </div>
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container :style="{'margin-top':$breakpoint.is.smAndDown ? '-56px' : '-64px'}" fluid class="pa-0">
        <nuxt />
        <Contacto />
      </v-container>
    </v-main>
    <v-navigation-drawer
      v-model="rightDrawer"
      :style="{'opacity':'0.9', 'min-width':'30%'}"
      class="dark--background"
      right
      temporary
      fixed
      elevation="0"
    >
      <div
        :style="{'height':'100%', 'font-size': '30px', 'font-weight':'500'}"
        class="d-flex flex-column align-start justify-center pl-8 pr-3"
      >
        <v-btn
          v-ripple="false"
          :style="{'position': 'absolute', 'top': $breakpoint.is.smAndUp ? '40px' : '32px', 'right': $breakpoint.is.smAndUp ? (parseFloat(padding_right_sm.slice(0, -2)) - 40).toString() + 'px': '18px !important' }"
          icon
          depressed
          class="buttonNoActive mr-n4 white--text d-flex"
          @click.stop="rightDrawer = !rightDrawer"
        >
          <div class="d-flex flex-column">
            <span>C</span>
            <span>L</span>
            <span>O</span>
            <span>S</span>
            <span>E</span>
          </div>
        </v-btn>
        <nuxt-link :style="{'text-decoration':'none'}" to="/">
          <span class="botonMenu">home</span>
        </nuxt-link>
        <nuxt-link :style="{'text-decoration':'none'}" to="/interiorismo">
          <span class="botonMenu">interiorismo</span>
        </nuxt-link>
        <nuxt-link :style="{'text-decoration':'none'}" to="/obra-nueva">
          <span class="botonMenu">obra nueva</span>
        </nuxt-link>
        <nuxt-link :style="{'text-decoration':'none'}" to="/rehabilitacion">
          <span class="botonMenu">rehabilitación</span>
        </nuxt-link>
        <nuxt-link :style="{'text-decoration':'none'}" :to="'/#equipo'">
          <span class="botonMenu">equipo</span>
        </nuxt-link>
        <nuxt-link :style="{'text-decoration':'none'}" :to="$route.path + '#contacto'">
          <span class="botonMenu">contacto</span>
        </nuxt-link>
        <div :style="{'position':'absolute', 'bottom': '30px', 'right': '25px'}" class="white--text">
          <a :style="{'text-decoration':'none'}" :href="configuracion.enlaceFacebook" target="_blank" rel="noopener noreferrer">
            <v-icon size="40">mdi-facebook</v-icon>
          </a>
          <a :style="{'text-decoration':'none'}" :href="configuracion.enlaceInstagram" target="_blank" rel="noopener noreferrer">
            <v-icon size="40">mdi-instagram</v-icon>
          </a>
        </div>
      </div>
    </v-navigation-drawer>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
import Contacto from '@/components/Home/Contacto'

export default {
  components: {
    Contacto
  },
  data () {
    return {
      loaded: false,
      rightDrawer: false,
      whiteLogo: true,
      padding_right_sm: process.env.padding_right_sm
    }
  },
  computed: {
    ...mapGetters([
      'configuracion'
    ])
  },
  mounted () {
    this.loaded = true
  },
  methods: {
    onScroll (e) {
      this.whiteLogo = window.innerHeight > window.scrollY + 40
    }
  }
}
</script>

<style>
.buttonNoActive::before{
  opacity: 0 !important;
}
mark{
  background-color: rgba(247,207,212,0.7);
}
.botonMenu:hover{
  color: rgba(255,255,255,0.4);
}
.botonMenu{
  cursor: pointer;
  color: white;
}
#cover {position: fixed; height: 100%; width: 100%; top:0; left: 0; background: #E3E3E3 !important; z-index:9999;}

.fade-enter-active, .fade-leave-active {
  transition: opacity .6s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #C6C2C1;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.dark--text{
  color: #1b2c3c !important;
}
.dark--background{
  background-color: #1b2c3c !important;
}
</style>
