<template>
  <v-app :style="{'background-color': '#E3E3E3'}">
    <div :style="{'height':'100%'}" class="d-flex flex-column align-center justify-center">
      <h1 :style="{'color':'rgba(0,0,0,0.2)', 'font-size':'200px', 'font-weight':'600', 'letter-spacing':'30px'}">
        ¡{{ error.statusCode }}!
      </h1>
      <h1 :style="{'color':'rgba(0,0,0,1)', 'font-size':'35px', 'font-weight':'600'}">
        {{ error.message }}
      </h1>
      <h2 :style="{'color':'rgba(0,0,0,0.2)', 'font-size':'20px', 'font-weight':'400'}">
        {{ error.messageSecundario }}
      </h2>
    </div>
  </v-app>
</template>

<script>
export default {
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null
    }
  }
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
