<template>
  <v-container :style="{'margin-top':'80px'}">
    <v-img :src="imagePath + imagen_principal" :style="{'margin':'auto'}" />
    <h1 class="dark--text text-center mb-9">
      {{ titulo }}
    </h1>
    <div v-html="contenido" class="contenidoEntrada" />
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      imagePath: process.env.image_path,
      titulo: '',
      imagen_principal: '',
      alt_imagen_principal: '',
      meta_titulo: '',
      meta_descripcion: '',
      contenido: ''
    }
  },
  async asyncData ({ $axios, params, store, error, redirect }) {
    const entradaData = await $axios.$get('/api/entradas/' + params.entrada)
    if (entradaData.slug === '') {
      return error({ statusCode: 404, message: 'LO SENTIMOS PERO ESTA ENTRADA DEL BLOG NO EXISTE', messageSecundario: `Trastaste de acceder al post "${params.entrada}" pero este post no existe.` })
    }
    return {
      titulo: entradaData.titulo,
      imagen_principal: entradaData.imagen_principal,
      alt_imagen_principal: entradaData.alt_imagen_principal,
      meta_titulo: entradaData.meta_titulo,
      meta_descripcion: entradaData.meta_descripcion,
      contenido: entradaData.contenido
    }
  }
}
</script>

<style>
.contenidoEntrada > table{
  margin: auto !important;
}
.contenidoEntrada > img{
  margin: auto !important;
}
.contenidoEntrada{
  color: black;
}
</style>
