<template>
  <u-animate
    :iteration="1"
    :offset="-50"
    :begin="false"
    name="fadeInUpBig"
    delay="0s"
    duration="1.5s"
    animate-class="animated"
  >
    <v-hover v-slot="{ hover }">
      <v-card
        :to="link"
        color="transparent"
        elevation="0"
        class="dark--text"
        nuxt
      >
        <h4
          v-show="hover || $breakpoint.is.xsOnly"
          :style="{'position':'absolute','font-size':$breakpoint.is.xsOnly ? '38px':'43px', 'font-weight': 400, 'z-index':1}"
          class="pt-4 pl-6"
        >
          {{ titulo }}
        </h4>
        <cld-image
          :style="{ 'width': '100%', 'height': '100%', 'opacity': hover ? 0.5 : 1}"
          crop="fill"
          responsive
          aspect_ratio="1"
          fetch-format="auto"
          quality="auto"
          loading="lazy"
          :public-id="imagen.public_id"
        >
          <cld-placeholder type="predominant-color" />
        </cld-image>
      </v-card>
    </v-hover>
  </u-animate>
</template>

<script>
import { UAnimate } from 'vue-wow'

export default {
  components: {
    UAnimate
  },
  props: ['link', 'titulo', 'imagen']
}
</script>

<style>

</style>
