<template>
  <u-animate-container>
    <div class="mt-8">
      <u-animate
        :iteration="1"
        :offset="0"
        :begin="false"
        name="fadeInUpBig"
        delay="0s"
        duration="1.5s"
        animate-class="animated"
      >
        <h2 :style="{'font-size':'35px', 'font-weight': 400}" class="cool-underline">
          {{ servicio }}
        </h2>
      </u-animate>
      <v-container class="pa-0">
        <v-row class="pl-0 pr-3">
          <v-col
            v-for="(p, index) in proyectos"
            :key="index"
            sm="4"
            cols="12"
            class="pr-0 pb-0"
          >
            <u-animate
              :iteration="1"
              :offset="-50"
              :begin="false"
              name="fadeInRightBig"
              delay="0s"
              duration="2s"
              animate-class="animated"
            >
              <v-hover v-slot:default="{ hover }">
                <div>
                  <h4
                    v-show="hover || $breakpoint.is.xsOnly"
                    :style="{'position':'absolute','font-size':$breakpoint.is.xsOnly ? '38px':'43px', 'font-weight': 400, 'z-index':1}"
                    class="pt-4 pl-6"
                  >
                    {{ p.nombre }}
                  </h4>
                  <v-img :src="require('@/assets/' + p.imagen)" :style="hover ? {'opacity':'0.5'} : ''" aspect-ratio="1" />
                </div>
              </v-hover>
            </u-animate>
          </v-col>
          <v-col cols="12" class="d-flex justify-end">
            <u-animate
              :iteration="1"
              :offset="-50"
              :begin="false"
              name="fadeIn"
              delay="0s"
              duration="1.5s"
              animate-class="animated"
            >
              <span :style="{'text-decoration':'underline', 'display':'block', 'font-size':'15px'}" class="dark--text">
                Ver más
              </span>
            </u-animate>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </u-animate-container>
</template>

<script>
import { UAnimateContainer, UAnimate } from 'vue-wow'

export default {
  components: {
    UAnimateContainer,
    UAnimate
  },
  props: ['servicio', 'proyectos']

}
</script>

<style>

</style>
