<template>
  <v-container :style="{'margin-top':'74px'}" fluid>
    <u-animate-container>
      <v-row
        :style="{ 'padding-left': $breakpoint.is.mdAndUp ? padding_left_md + ' !important' : $breakpoint.is.smAndUp ? padding_left_sm + ' !important' : '12px !important',
                  'padding-right': $breakpoint.is.smAndUp ? padding_right_sm + ' !important' :'12px !important'}"
      >
        <v-col
          v-for="(p, index) in proyectos"
          :key="index"
          :style="{'padding-right': $breakpoint.is.xsOnly ? '' :
                     $breakpoint.is.smAndDown && index % 2 == 0 ? '37px !important':
                     $breakpoint.is.smAndDown ? '' : (index + 2) % 3 == 0 ? '24.67px !important' :
                       (index + 3) % 3 == 0 ? '49.34px !important' : '',
                   'padding-left': $breakpoint.is.xsOnly ? '' :
                     $breakpoint.is.smAndDown && index % 2 != 0 ? '37px !important':
                     $breakpoint.is.smAndDown ? '' : (index + 1) % 3 == 0 ? '49.34px !important' :
                       (index + 2) % 3 == 0 ? '24.67px !important' : '',
                   'padding-bottom':'74px !important'}"
          md="4"
          sm="6"
          cols="12"
          class="pa-0"
        >
          <ProyectoThumbnail
            :link="'/' + p.servicio.slug + '/' + p.slug"
            :titulo="p.titulo"
            :imagen="p.imagenPrincipal[0]"
          />
        </v-col>
      </v-row>
    </u-animate-container>
  </v-container>
</template>

<script>
import ProyectoThumbnail from '@/components/ProyectoThumbnail'
import { UAnimateContainer } from 'vue-wow'

export default {
  components: {
    ProyectoThumbnail,
    UAnimateContainer
  },
  props: ['proyectos'],
  data () {
    return {
      padding_left_md: process.env.padding_left_md,
      padding_left_sm: process.env.padding_left_sm,
      padding_right_sm: process.env.padding_right_sm
    }
  }
}
</script>

<style>

</style>
