<template>
  <div :style="{'height': '100vh', 'position': 'relative'}" class="d-flex align-center justify-center">
    <cld-image
      :style="{ 'position' : 'absolute', 'width': '100vw', 'height': '100vh'}"
      :width="getWidth"
      :height="getHeight"
      crop="fill"
      fetch-format="auto"
      quality="auto"
      loading="lazy"
      :public-id="imagen[0].public_id"
    >
      <cld-placeholder type="predominant-color" />
    </cld-image>
    <div
      :style="{'z-index':'2'}"
      class="dark--text text-center"
    >
      <h1
        :style="{'font-size':$breakpoint.is.xsOnly ? '30px':'70px',
                 'font-weight': 400,
                 'text-transform':'uppercase'}"
      >
        <u-animate-container>
          <u-animate
            :iteration="1"
            :offset="0"
            :begin="false"
            name="fadeInUpBig"
            delay="0s"
            duration="1s"
            animate-class="animated"
          >
            {{ nombre }}
          </u-animate>
        </u-animate-container>
      </h1>
      <p class="dark--text text-center">
        <u-animate-container>
          <u-animate
            :iteration="1"
            :offset="0"
            :begin="false"
            name="fadeInUpBig"
            delay="0s"
            duration="1.4s"
            animate-class="animated"
          >
            {{ descripcion_corta }}
          </u-animate>
        </u-animate-container>
      </p>
    </div>
  </div>
</template>

<script>
import { UAnimateContainer, UAnimate } from 'vue-wow'

export default {
  components: {
    UAnimateContainer,
    UAnimate
  },
  props: ['nombre', 'descripcion_corta', 'imagen'],
  computed: {
    getWidth () {
      if (process.client) {
        return window.innerWidth
      } else {
        return null
      }
    },
    getHeight () {
      if (process.client) {
        return window.innerHeight
      } else {
        return null
      }
    }
  }
}
</script>

<style>
</style>
