<div class="block-fields__field-text">
  <span class="block-fields__label">Titulo:</span>
  {{ object.titulo }}
</div>
<div class="block-fields__field-text">
  <span class="block-fields__label">Miembros:</span>
  {% for miembro in object.miembro_equipo.all %}
    <span style="display: block;">{{ miembro.nombre }}</span>
  {% endfor %}
  
</div>