<div class="block-fields__field-text">
  <span class="block-fields__label">Titulo:</span>
  {{ object.titulo }}
</div>
<div class="block-fields__field-text">
  <span class="block-fields__label">Proyectos:</span>
  {% for proyecto_lista in object.lista_lista_proyectos.all %}
  <div>
    <img src="{{ proyecto_lista.proyecto.get_image_path }}" style="height: 150px; width: 150px; margin-right: 20px;">
    <span style="font-weight: 800; font-size:  medium;">{{ proyecto_lista.proyecto.titulo }}</span>
 </div>
    
  {% endfor %}
  
</div>