<div class="block-fields__field-text">
  <span class="block-fields__label">Titulo:</span>
  {{ object.proyecto.titulo }}
</div>
<div class="block-fields__field-text">
  <span class="block-fields__label">Imagen:</span>
  <img src="{{ object.get_image_path }}" style="height: 150px; width: 150px;">
  
</div>