<template>
  <v-container
    id="contacto"
    :style="{'overflow':'hidden'}"
    fluid
    class="dark--text py-0"
  >
    <h3
      :style="{'font-size': '40px', 'font-weight': 300}"
      class="dark--text px-3 text-center mt-12 mb-n4"
    >
      NO DUDES EN CONTACTARNOS!!
    </h3>
    <u-animate-container>
      <v-row
        :class=" $breakpoint.is.smAndDown ? 'py-5': 'py-8'"
        :style="{
          'padding-left': $breakpoint.is.mdAndUp ? padding_left_md + ' !important' : $breakpoint.is.smAndUp ? padding_left_sm +' !important' : '12px !important',
          'padding-right': $breakpoint.is.smAndUp ? padding_right_sm + ' !important' : '12px !important'}"
      >
        <v-col
          :style="{'font-size': '18px',
                   'font-weight':200,
                   'position': 'relative'}"
          class="py-12 px-0 d-flex justify-start"
          md="6"
          sm="12"
          cols="12"
        >
          <u-animate
            :iteration="1"
            :offset="0"
            :begin="false"
            :style="{'height':'100%'}"
            delay="0s"
            name="fadeInLeft"
            duration="1.5s"
            animate-class="animated"
          >
            <div
              :style="{ 'height': '100%', 'width':'100%'}"
              class="d-flex flex-column justify-center"
            >
              <h3 class="mb-6">
                {{ configuracion.nombreEmpresa }}
              </h3>
              <span>{{ configuracion.direccionLinea1 }}</span>
              <span class="mb-4">{{ configuracion.direccionLinea2 }}</span>

              <span><a
                :href="'tel:+34' + configuracion.telefonoFijo"
                :style="{'text-decoration': 'none'}"
                class="dark--text"
              >t: +34 {{ configuracion.telefonoFijo }}</a></span>
              <span class="mb-4"><a
                :href="'tel:+34' + configuracion.telefonoMovil"
                :style="{'text-decoration': 'none'}"
                class="dark--text"
              >m: +34 {{ configuracion.telefonoMovil }}</a></span>
              <span><a
                :href="'mailto:' + configuracion.email"
                :style="{'text-decoration': 'none'}"
                class="dark--text"
              > {{ configuracion.email }}</a></span>
            </div>
          </u-animate>
        </v-col>
        <v-col
          :style="$breakpoint.is.smAndDown ? {'background-color':'#c6c2c1', 'max-height' : '319px'} :
            {'position': 'relative','background-color':'#c6c2c1', 'max-height' : '319px'}"
          :class="$breakpoint.is.smAndDown ? 'mt-4': ''"
          class="pa-0 d-flex justify-center align-center"
          md="6"
          sm="12"
          cols="12"
        >
          <u-animate
            :iteration="1"
            :offset="0"
            :begin="false"
            :delay="$breakpoint.is.smAndDown ? '.5s':'0s'"
            :style="{'width':'100%', }"
            name="fadeInRight"
            duration="1.5s"
            animate-class="animated"
          >
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12531.111937950489!2d-0.6741438!3d38.2614549!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaacfee586ed529b5!2sFama%20Rehabilitaciones%2C%20S.L.!5e0!3m2!1ses!2ses!4v1596781401544!5m2!1ses!2ses"
              width="100%"
              height="324"
              frameborder="0"
              style="border:0;-webkit-filter: grayscale(100%);filter: grayscale(100%);"
              allowfullscreen="false"
              aria-hidden="false"
              tabindex="0"
            />
          </u-animate>
        </v-col>
      </v-row>
      <v-row
        :style="{
          'background-color':'#c6c2c1',
          'padding-left': $breakpoint.is.mdAndUp ? padding_left_md + ' !important' : $breakpoint.is.smAndUp ? padding_left_sm +' !important' : '12px !important',
          'padding-right': $breakpoint.is.smAndUp ? padding_right_sm + ' !important' : '12px !important'}"
      >
        <v-col
          cols="12"
          class="botonFooter pt-8"
        >
          <nuxt-link :style="{'text-decoration':'none'}" to="/">
            <span class="botonFooter dark--text">home</span>
          </nuxt-link>
          <br>
          <nuxt-link :style="{'text-decoration':'none'}" to="/interiorismo">
            <span class="botonFooter dark--text">interiorismo</span>
          </nuxt-link>&nbsp;/
          <nuxt-link :style="{'text-decoration':'none'}" to="/obra-nueva">
            <span class="botonFooter dark--text">obra nueva</span>
          </nuxt-link>&nbsp;/
          <nuxt-link :style="{'text-decoration':'none'}" to="/rehabilitacion">
            <span class="botonFooter dark--text">rehabilitación</span>
          </nuxt-link>
        </v-col>
        <v-col
          :style="{'font-weight':200}"
          cols="12"
          class="px-0 py-6 text-center"
        >
          <a
            :href="configuracion.enlaceFacebook"
            :style="{'text-decoration': 'none'}"
            target="_blank"
            rel="noopener noreferrer"
            class="dark--text"
          >FACEBOOK</a>  |
          <a
            :href="configuracion.enlaceInstagram"
            :style="{'text-decoration': 'none'}"
            target="_blank"
            rel="noopener noreferrer"
            class="dark--text"
          >INSTAGRAM</a>
        </v-col>
        <v-col
          :style="{'font-weight':200, 'font-size':'12px','position': 'relative'}"
          cols="12"
          class="d-flex justify-end mb-5 pa-0 dark--text"
        >
          <!-- <nuxt-link :style="{'text-decoration':'none'}" class="dark--text" to="/blog">

          </nuxt-link> -->
          blog | aviso legal | política de privacidad | politica de cookies
          <!-- <nuxt-link :style="{'text-decoration':'none'}" class="dark--text" to="/politica-de-cookies">

          </nuxt-link> -->
        </v-col>
      </v-row>

      <v-row class="pa-0" />
    </u-animate-container>
  </v-container>
</template>

<script>
import { UAnimateContainer, UAnimate } from 'vue-wow'
import { mapGetters } from 'vuex'
export default {
  components: {
    UAnimateContainer,
    UAnimate
  },
  data () {
    return {
      padding_left_md: process.env.padding_left_md,
      padding_left_sm: process.env.padding_left_sm,
      padding_right_sm: process.env.padding_right_sm
    }
  },
  computed: {
    ...mapGetters([
      'configuracion'
    ])
  }
}
</script>

<style>
.botonFooter{
  font-size: 26px;
  font-weight: bold;
}

</style>
