<template>
  <u-animate-container>
    <div id="equipo" class="dark--text">
      <u-animate
        v-if="$breakpoint.is.xsOnly"
        :iteration="1"
        :offset="-50"
        :begin="false"
        name="fadeInUpBig"
        delay="0s"
        duration="1.5s"
        animate-class="animated"
      >
        <h3
          :style="{'width': '100%',
                   'font-size':'38px',
                   'font-weight': 500,
                   'padding-left': $breakpoint.is.mdAndUp ? padding_left_md + ' !important' : $breakpoint.is.smAndUp ? padding_left_sm + ' !important' : '12px !important',
                   'padding-right': $breakpoint.is.smAndUp ? padding_right_sm + ' !important' :'12px !important'
          }"
          class="mb-2"
        >
          {{ bloque.titulo }}
        </h3>
      </u-animate>
      <u-animate
        :iteration="1"
        :offset="-20"
        :begin="false"
        :name="$breakpoint.is.xsOnly ? 'fadeInUp' : 'fadeInRight'"
        delay="0s"
        duration="2s"
        animate-class="animated"
      >
        <v-container
          fluid
          class="py-0"
        >
          <v-row
            :style="{'padding-left': $breakpoint.is.mdAndUp ? padding_left_md + ' !important' : $breakpoint.is.smAndUp ? padding_left_sm + ' !important' : '12px !important',
                     'padding-right': $breakpoint.is.smAndUp ? padding_right_sm + ' !important' :'12px !important'}"
            :justify="$breakpoint.is.smAndDown ? 'center' : 'end'"
          >
            <v-col
              v-for="(miembroEquipo, index) in bloque.miembrosEquipoCollection.items"
              :key="index"
              :style="{'padding-right':
                         $breakpoint.is.xsOnly ? index % 2 == 0 ? '6px !important' : '0px !important' :
                         $breakpoint.is.smAndDown ? index % 3 == 0 ? '8px !important' : (index +1) % 3 == 0 ? '0px !important': '4px !important' :
                         index % 5 == 0 ? '8px !important' : (index + 1) % 5 == 0 ? '0px !important' : (index + 2) % 5 == 0 ? '4px !important': '6px !important',
                       'padding-left':
                         $breakpoint.is.xsOnly ? index % 2 == 0 ? '0px !important' : '6px !important' :
                         $breakpoint.is.smAndDown ? index % 3 == 0 ? '0px !important' : (index +1) % 3 == 0 ? '8px !important': '4px !important' :
                         index % 5 == 0 ? '0px !important' : (index + 1) % 5 == 0 ? '8px !important' : (index - 1) % 5 == 0 ? '4px !important': '6px !important',
                       'padding-bottom':'12px !important'}"
              md="2"
              sm="4"
              cols="6"
            >
              <div class="d-flex flex-column align-start">
                <cld-image
                  class="mb-1"
                  responsive
                  aspect_ratio="1"
                  fetch-format="auto"
                  quality="auto"
                  :public-id="miembroEquipo.imagen[0].public_id"
                />
                <span>
                  {{ miembroEquipo.nombre }}
                </span>
                <span>
                  <i>{{ miembroEquipo.puesto }}</i>
                </span>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </u-animate>
      <div
        :style="{'padding-left': $breakpoint.is.mdAndUp ? padding_left_md + ' !important' : $breakpoint.is.smAndUp ? padding_left_sm + ' !important' : '12px !important',
                 'padding-right': $breakpoint.is.smAndUp ? padding_right_sm + ' !important' :'12px !important',
                 'width':'100%'}"
      >
        <u-animate
          v-if="!$breakpoint.is.xsOnly"
          :iteration="1"
          :offset="-50"
          :begin="false"
          name="fadeInUpBig"
          delay="0s"
          duration="1.5s"
          animate-class="animated"
        >
          <h3
            :style="{'width': '280px', 'font-size':$breakpoint.is.xsOnly ? '38px':'43px', 'font-weight': 500}"
            :class="$breakpoint.is.smAndDown ? 'mb-8 pl-3':'mb-8 mt-3'"
          >
            {{ bloque.titulo }}
          </h3>
        </u-animate>
        <u-animate
          :iteration="1"
          :offset="-50"
          :begin="false"
          name="fadeInUp"
          delay="0.5s"
          duration="1.5s"
          animate-class="animated"
        >
          <div
            :style="{'font-size':$breakpoint.is.xsOnly ? '14px' :'18px', 'font-weight': 300}"
            v-html="toHtml(bloque.descripcion.json)"
          />
        </u-animate>
        <u-animate
          :iteration="1"
          :offset="-50"
          :begin="false"
          :name="$breakpoint.is.xsOnly ? 'fadeInUp' : 'fadeInRight'"
          delay="0.5s"
          duration="1.5s"
          animate-class="animated"
        >
          <div
            v-if="bloque.portfolio"
            :style="{
              'width':'100%'}"
            class="d-flex justify-end"
          >
            <v-btn
              :href="bloque.portfolio"
              :style="{'opacity':0.4}"
              target="_blank"
              text
              class="dark--text buttonNoActive px-0"
            >
              Descargar Portfolio
              <v-icon>mdi-arrow-down-bold</v-icon>
            </v-btn>
          </div>
        </u-animate>
      </div>
    </div>
  </u-animate-container>
</template>

<script>
import { UAnimateContainer, UAnimate } from 'vue-wow'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'

export default {
  components: {
    UAnimateContainer,
    UAnimate
  },
  props: ['bloque'],
  data () {
    return {
      padding_left_md: process.env.padding_left_md,
      padding_left_sm: process.env.padding_left_sm,
      padding_right_sm: process.env.padding_right_sm
    }
  },
  methods: {
    toHtml (jsonObject) {
      return documentToHtmlString(jsonObject)
    }
  }

}
</script>

<style>

</style>
