<template>
  <div
    :style="{'padding-left': $breakpoint.is.mdAndUp ? padding_left_md + ' !important' : $breakpoint.is.smAndUp ? padding_left_sm + ' !important' : '12px !important',
             'padding-right': $breakpoint.is.smAndUp ? padding_right_sm + ' !important' :'12px !important',
             'position':'relative'}"
    class="d-flex flex-column dark--text"
  >
    <u-animate-container>
      <u-animate
        :iteration="1"
        :offset="0"
        :begin="false"
        name="fadeInUp"
        delay="0s"
        duration="2s"
        animate-class="animated"
      >
        <span
          :style="{'letter-spacing':'16px', 'font-size': '16px',
                   'padding-right': $breakpoint.is.mdAndUp ? '170px !important' : $breakpoint.is.smAndUp ? '75px !important' : '',
                   'position':'relative'}"
          class="d-flex justify-center mt-7 mb-6"
        >{{ bloque.titulo }}</span>
      </u-animate>
      <section v-for="(servicio, index) in bloque.serviciosCollection.items" :key="index">
        <u-animate
          :iteration="1"
          :offset="0"
          :begin="false"
          name="fadeInUp"
          delay="0s"
          duration="2s"
          animate-class="animated"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              :ripple="false"
              :style="{'border-top': '1px solid #1b2c3c !important',
                       'border-bottom': index === bloque.serviciosCollection.items.length -1 ? '1px solid #1b2c3c !important': '',
                       'border-radius': '0px'}"
              :to="'/' + servicio.slug"
              nuxt
              tiles
              color="transparent"
              elevation="0"
              class="dark--text d-flex justify-space-between align-center"
            >
              <div
                :style="{'color':'#606060', 'height':'100%'}"
              >
                <i v-if="hover && $breakpoint.is.smAndUp && servicio.descripcionHomePage">
                  {{ servicio.descripcionHomePage }}
                </i>
              </div>
              <span :style="{'font-size':'42px'}" class="my-2">
                {{ servicio.titulo }}
              </span>
            </v-card>
          </v-hover>
        </u-animate>
      </section>
    </u-animate-container>
  </div>
</template>

<script>
import { UAnimateContainer, UAnimate } from 'vue-wow'

export default {
  components: {
    UAnimateContainer,
    UAnimate
  },
  props: ['bloque'],
  data () {
    return {
      padding_left_md: process.env.padding_left_md,
      padding_left_sm: process.env.padding_left_sm,
      padding_right_sm: process.env.padding_right_sm
    }
  }
}
</script>

<style>

</style>
