<template>
  <div class="dark--text">
    <u-animate-container>
      <u-animate
        :iteration="1"
        :offset="-50"
        :begin="false"
        name="fadeInLeft"
        delay="0s"
        duration="1.5s"
        animate-class="animated"
      >
        <h3
          :style="{
            'font-size':$breakpoint.is.xsOnly ? '38px':'43px',
            'font-weight': 500,
            'width': '100%',
            'padding-left': $breakpoint.is.mdAndUp ? padding_left_md + ' !important' : $breakpoint.is.smAndUp ? padding_left_sm + ' !important' : '12px !important',
            'padding-right': $breakpoint.is.smAndUp ? padding_right_sm + ' !important' :'12px !important',
            'position': 'relative'}"
          :class="$breakpoint.is.smAndDown ? 'mb-12 pl-3':'mb-12'"
        >
          {{ bloque.titulo }}
        </h3>
      </u-animate>
      <v-container
        class="py-0"
        fluid
      >
        <v-row
          :style="{
            'padding-left': $breakpoint.is.mdAndUp ? padding_left_md +' !important' : $breakpoint.is.smAndUp ? padding_left_sm + ' !important' : '12px !important',
            'padding-right': $breakpoint.is.smAndUp ? padding_right_sm + ' !important' :'12px !important'}"
        >
          <v-col
            v-for="(p, index) in bloque.proyectosCollection.items"
            :key="index"
            :style="{'padding-right':
                       $breakpoint.is.xsOnly ? '0px !important' :
                       $breakpoint.is.smAndDown ? index % 2 == 0 ? '37px !important' : '0px !important' :
                       $breakpoint.is.mdAndDown ? (index + 2) % 3 == 0 ? '24.67px !important' : (index + 3) % 3 == 0 ? '49.34px !important' : '0px !important':
                       index % 4 == 0 ? '55.5px !important' : (index -1) % 4 == 0 ? '37px !important' : (index - 2) % 4 == 0 ? '18.5px !important': '0px !important',
                     'padding-left':
                       $breakpoint.is.xsOnly ? '0px !important' :
                       $breakpoint.is.smAndDown ? index % 2 == 0 ? '0px !important' : '37px !important' :
                       $breakpoint.is.mdAndDown ? (index + 2) % 3 == 0 ? '24.67px !important' : (index + 3) % 3 == 0 ? '0px !important' : '49.34px !important':
                       (index - 3) % 4 == 0 ? '55.5px !important' : (index -1) % 4 == 0 ? '18.5px !important' : (index - 2) % 4 == 0 ? '37px !important': '0px !important',
                     'padding-bottom':'74px !important'}"
            class="pt-0"
            lg="3"
            md="4"
            sm="6"
            cols="12"
          >
            <ProyectoThumbnail
              :link="'/' + p.servicio.slug + '/' + p.slug"
              :titulo="p.titulo"
              :imagen="p.imagenPrincipal[0]"
            />
          </v-col>
        </v-row>
      </v-container>
    </u-animate-container>
  </div>
</template>

<script>
import ProyectoThumbnail from '@/components/ProyectoThumbnail'
import { UAnimateContainer, UAnimate } from 'vue-wow'

export default {
  components: {
    UAnimateContainer,
    UAnimate,
    ProyectoThumbnail
  },
  props: ['bloque'],
  data () {
    return {
      padding_left_md: process.env.padding_left_md,
      padding_left_sm: process.env.padding_left_sm,
      padding_right_sm: process.env.padding_right_sm
    }
  }
}
</script>

<style>

</style>
