<template>
  <u-animate-container>
    <div
      id="example-anchor"
      :style="{'position': 'relative',
               'min-height':'400px'}"
      class="dark--text"
    >
      <div
        :style="{'position': $breakpoint.is.xsOnly ? 'relative': 'absolute',
                 'top':'0%',
                 'width': '100%',
                 'z-index':'1'}"
      >
        <u-animate
          :iteration="1"
          :begin="false"
          name="fadeInUpBig"
          delay="0s"
          duration="1.5s"
          animate-class="animated"
        >
          <h2
            :style="{'font-size':$breakpoint.is.xsOnly ? '55px':$breakpoint.is.mdAndUp ? '85px':'65px', 'font-weight': 500}"
            class="text-center"
          >
            {{ bloque.proyecto.titulo }}
          </h2>
        </u-animate>
      </div>
      <div
        :style="{'position': $breakpoint.is.xsOnly ? 'relative': 'absolute',
                 'top': $breakpoint.is.xsOnly ? '24%': '0%',
                 'height': '100%',
                 'padding-left': $breakpoint.is.mdAndUp ? padding_left_md + ' !important' : $breakpoint.is.smAndUp ? padding_left_sm + ' !important' : '12px !important',
                 'padding-right': $breakpoint.is.smAndUp ? padding_right_sm + ' !important' :'12px !important',
                 'width': '100%',
                 'z-index':'1'}"
        class="d-flex flex-column justify-center"
      >
        <u-animate
          v-if="bloque.titulo"
          :iteration="1"
          :begin="false"
          name="fadeInUpBig"
          delay=".5s"
          duration="1.5s"
          animate-class="animated"
        >
          <h3
            :style="{'font-size':$breakpoint.is.xsOnly ? '38px':'47px', 'font-weight': 500, 'width': '280px','line-height':1}"
            class="mb-8"
          >
            {{ bloque.titulo }}
          </h3>
        </u-animate>
        <u-animate
          v-if="$breakpoint.is.xsOnly"
          :iteration="1"
          :begin="false"
          name="fadeInUp"
          delay="0s"
          duration="0.5s"
          animate-class="animated"
        >
          <div
            :style="{'position': 'relative', 'width': '100%'}"
            class="d-flex align-start justify-start"
          >
            <!-- <cld-image
              :public-id="bloque.imagenAlternativa[0].public_id"
              responsive
              fetch-format="auto"
              quality="auto"
              loading="lazy"
            /> -->
          </div>
        </u-animate>
        <u-animate
          :iteration="1"
          :begin="false"
          name="fadeInUpBig"
          delay="0s"
          duration="1s"
          animate-class="animated"
        >
          <div
            :style="{'font-size':'22px', 'font-weight': 300}"
            :class="$breakpoint.is.xsOnly ? 'mt-4':''"
            class="textoIntroducido"
            v-html="toHtml(bloque.descripcion.json)"
          />
          <nuxt-link :to="'/' + bloque.proyecto.servicio.slug + '/' + bloque.proyecto.slug ">
            <span
              :style="{'font-size':'22px',
                       'font-weight': 300,
                       'text-decoration':'underline',
                       'display':'block',
                       'font-size':'15px'}"
              :class="$breakpoint.is.xsOnly ? 'mt-4':''"
              class="dark--text"
            >
              {{ bloque.textoBoton }}
            </span>
          </nuxt-link>
        </u-animate>
      </div>
      <u-animate
        v-if="!$breakpoint.is.xsOnly"
        :iteration="1"
        :begin="false"
        name="fadeInRight"
        delay="0s"
        duration="0.5s"
        animate-class="animated"
      >
        <div
          :style="{'position': 'relative',
                   'padding-left': $breakpoint.is.mdAndUp ? padding_left_md + ' !important' : $breakpoint.is.smAndUp ? padding_left_sm +' !important' : '12px !important',
                   'padding-right': $breakpoint.is.smAndUp ? padding_right_sm + ' !important' :'12px !important',
                   'width':'100%'}"
          class="d-flex align-start justify-end"
        >
          <v-img
            :src="bloque.imagenAlternativa ? bloque.imagenAlternativa[0].original_secure_url : bloque.proyecto.imagenPrincipal[0].original_secure_url"
            :max-width="$breakpoint.is.smAndDown ? '70%' : '90vh'"
            aspect-ratio="1"
          />
        </div>
      </u-animate>
    </div>
  </u-animate-container>
</template>

<script>
import { UAnimateContainer, UAnimate } from 'vue-wow'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'

export default {
  components: {
    UAnimateContainer,
    UAnimate
  },
  props: ['bloque'],
  data () {
    return {
      padding_left_md: process.env.padding_left_md,
      padding_left_sm: process.env.padding_left_sm,
      padding_right_sm: process.env.padding_right_sm
    }
  },
  methods: {
    toHtml (jsonObject) {
      return documentToHtmlString(jsonObject)
    }
  }
}
</script>

<style>
.textoIntroducido>p{
  margin-bottom: 0px;
}
</style>
