<template>
  <div
    :style="{'height': '35vh', 'position': 'relative', 'overflow':'hidden'}"
    class="d-flex align-center justify-center"
  >
    <cld-image
      :style="{'position': 'absolute', 'height' : '100%', 'width': '100%'}"
      :height="getHeight"
      :width="getWidth"
      crop="fill"
      fetch-format="auto"
      quality="auto"
      loading="lazy"
      :public-id="bloque.imagen[0].public_id"
    >
      <cld-placeholder type="predominant-color" />
    </cld-image>
    <u-animate-container :style="{'z-index': '3'}">
      <u-animate
        :iteration="1"
        :offset="0"
        :begin="false"
        name="flash"
        delay="0s"
        duration="2s"
        animate-class="animated"
      >
        <h3 :style="{'font-size':$breakpoint.is.xsOnly ? '22px':'43px', 'font-weight': 500, 'letter-spacing': '7px'}" class="dark--text text-center">
          {{ bloque.mensaje }}
        </h3>
      </u-animate>
    </u-animate-container>
  </div>
</template>

<script>
import { UAnimateContainer, UAnimate } from 'vue-wow'
export default {
  components: {
    UAnimateContainer,
    UAnimate
  },
  props: ['bloque'],
  data () {
    return {
      imagePath: process.env.image_path
    }
  },
  computed: {
    getWidth () {
      if (process.client) {
        return window.innerWidth
      } else {
        return null
      }
    },
    getHeight () {
      if (process.client) {
        return Math.ceil(window.innerHeight * 0.35)
      } else {
        return null
      }
    }
  }
}
</script>
<style scoped>

</style>
