<template>
  <div>
    <v-container
      ref="contenedor"
      v-scroll="onScroll"
      :style="{'margin-bottom':'40vh'}"
      class="pa-0"
      fluid
    >
      <v-row
        :style="{'margin-top': $breakpoint.is.mdAndUp ? '84px':'74px',
                 'padding-left': $breakpoint.is.mdAndUp ? padding_left_md + ' !important' : $breakpoint.is.smAndUp ? padding_left_sm + ' !important' : '12px !important',
                 'padding-right': $breakpoint.is.smAndUp ? padding_right_sm + ' !important' :'12px !important'}"
        :justify="$breakpoint.is.mdAndUp ? 'start' : 'center'"
        no-gutters
      >
        <!-- HEADING EN SM AND DOWN -->
        <v-col
          v-if="$breakpoint.is.mdAndDown"
          :style="{
            'font-size':'15px',
            'font-weight':'200',
            'margin-bottom': '74px'}"
          cols="12"
          class="dark--text d-flex flex-column"
        >
          <h1
            :style="{'font-size':'40px', 'font-weight':'400'}"
            class="mb-n2"
          >
            {{ titulo }}
          </h1>
          <nuxt-link :to="'/' + servicio.slug">
            <span class="filtroEnlace">
              {{ servicio.titulo }}
            </span>
          </nuxt-link>
          <span>
            <nuxt-link :to="'/filtros/localidad?query=' + localidad.slug">
              <span class="filtroEnlace">
                {{ localidad.nombreLocalidad }}
              </span>
            </nuxt-link>,
            <nuxt-link :to="'/filtros/año?query=' + ano">
              <span class="filtroEnlace">
                {{ ano }}
              </span>
            </nuxt-link>
          </span>
        </v-col>
        <!-- IMÁGEN PRINCIPAL -->
        <v-col
          :style="{'padding-bottom':'74px'}"
          lg="8"
          md="12"
          cols="12"
        >
          <cld-image
            :style="{'width':'100%', 'height': $breakpoint.is.xsOnly ? '60vh': '80vh'}"
            crop="thumb"
            :width="$breakpoint.is.lgAndUp ? Math.ceil(8 *getWidth) : Math.ceil(12 * getWidth)"
            :height="getHeight"
            loading="lazy"
            fetch-format="auto"
            quality="auto"
            :public-id="imagenPrincipal[0].public_id"
          >
            <cld-placeholder type="predominant-color" />
          </cld-image>
        </v-col>
        <!-- TEXTOS Y HEADINGS -->
        <v-col
          v-if="!$breakpoint.is.mdAndDown || descripcion || proyectista"
          :style="{
            'font-size':'15px',
            'font-weight':'200',
            'padding-left': $breakpoint.is.mdAndDown ? '' : '74px',}"
          lg="4"
          md="12"
          cols="12"
          class="dark--text d-flex flex-column"
        >
          <div
            :style="$breakpoint.is.mdAndDown ? {'margin-bottom':'74px'}:{
              'position': scrollY < corte+300 ? 'fixed' : 'absolute' ,
              'top':scrollY < corte+300 ? '': corte + 300 + 'px',
              'padding-right':padding_right_sm + ' !important'}"
            class="d-flex flex-column"
          >
            <h1 v-if="!$breakpoint.is.mdAndDown" :style="{'font-size':'40px', 'font-weight':'400'}" class="mb-n2">
              {{ titulo }}
            </h1>
            <nuxt-link :to="'/' + servicio.slug">
              <span v-if="!$breakpoint.is.smAndDown" class="filtroEnlace">
                {{ servicio.titulo }}
              </span>
            </nuxt-link>
            <span v-if="!$breakpoint.is.mdAndDown">
              <nuxt-link :to="'/filtros/localidad?query=' + localidad.slug">
                <span class="filtroEnlace">
                  {{ localidad.nombreLocalidad }}
                </span>
              </nuxt-link>,
              <nuxt-link :to="'/filtros/año?query=' + ano">
                <span class="filtroEnlace">
                  {{ ano }}
                </span>
              </nuxt-link>
            </span>
            <div v-if="descripcion" :style="{'font-weight':'300'}" class="my-10" v-html="toHtml(descripcion.json)" />
            <span v-if="proyectista">
              {{ proyectista.especialidad }}
              <nuxt-link :to="'/filtros/proyectista?query=' + proyectista.slug">
                <span class="filtroEnlace">{{ proyectista.nombre }}</span>
              </nuxt-link>
            </span>
          </div>
        </v-col>
      </v-row>
      <!-- EL RESTO DE IMÁGENES -->
      <v-row
        v-for="(imagen, index) in imagenesProyecto"
        :key="index"
        :justify="$breakpoint.is.mdAndUp ? 'start' : 'center'"
        :style="{'padding-left': $breakpoint.is.mdAndUp ? padding_left_md + ' !important' : $breakpoint.is.smAndUp ? padding_left_sm + ' !important' :'12px !important',
                 'padding-right': $breakpoint.is.smAndUp ? padding_right_sm + ' !important' : '12px !important'}"
        no-gutters
      >
        <v-col
          lg="8"
          :style="{'padding-bottom':'74px'}"
          md="12"
          cols="12"
        >
          <cld-image
            :style="{'width':'100%', 'height': $breakpoint.is.xsOnly ? '60vh': '80vh'}"
            crop="thumb"
            :width="$breakpoint.is.lgAndUp ? Math.ceil(8 *getWidth) : Math.ceil(12 * getWidth)"
            :height="getHeight"
            loading="lazy"
            fetch-format="auto"
            quality="auto"
            :public-id="imagen.public_id"
          >
            <cld-placeholder type="predominant-color" />
          </cld-image>
        </v-col>
      </v-row>
      <v-spacer ref="end" />
    </v-container>

    <ProyectosRelacionados v-if="proyectosRelacionadosCollection.items.length > 0" :proyectos="proyectosRelacionadosCollection.items" />
    <!-- <Contacto :configuracion="configuracion" :mensaje="texto_contacto" /> -->
  </div>
</template>

<script>
import ProyectosRelacionados from '@/components/Proyecto/Relacionado'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'

import { paginaProyectoQuery } from '~/graphql/query'

export default {
  components: {
    ProyectosRelacionados
  },
  async asyncData ({ $graphql, params }) {
    const resultsQuery = await $graphql.default.request(paginaProyectoQuery, { slug: params.proyecto })
    return resultsQuery.proyectoCollection.items[0]
  },
  data () {
    return {
      padding_left_md: process.env.padding_left_md,
      padding_left_sm: process.env.padding_left_sm,
      padding_right_sm: process.env.padding_right_sm,
      corte: 0,
      scrollY: 0
    }
  },
  head () {
    return {
      title: this.metaTitulo,
      meta: [
        { hid: 'description', name: 'description', content: this.metaDescripcion },
        { property: 'og:image', content: this.imagenPrincipal[0].secure_url }
      ]
    }
  },
  computed: {
    getWidth () {
      if (process.client) {
        let width
        if (this.$breakpoint.is.mdAndUp) {
          width = (window.innerWidth - parseInt(this.padding_left_md) - parseInt(this.padding_right_sm)) / 12
        } else if (this.$breakpoint.is.smAndUp) {
          width = (window.innerWidth - parseInt(this.padding_left_sm) - parseInt(this.padding_right_sm)) / 12
        } else {
          width = (window.innerWidth - 24) / 12
        }
        return width
      } else {
        return null
      }
    },
    getHeight () {
      if (process.client) {
        const height = window.innerHeight
        return this.$breakpoint.is.xsOnly ? Math.ceil(height * 0.6) : Math.ceil(height * 0.8)
      } else {
        return null
      }
    }
  },
  methods: {
    onScroll (e) {
      this.scrollY = e.target.scrollingElement.scrollTop
      this.corte = this.$refs.end.getBoundingClientRect().y - window.innerHeight + window.scrollY
    },
    toHtml (jsonObject) {
      return documentToHtmlString(jsonObject)
    }
  },
  jsonld () {
    return {
      '@context': 'https://schema.org',
      '@type': 'BreadcrumbList',
      itemListElement: [{
        '@type': 'ListItem',
        position: 1,
        name: 'Inicio',
        item: 'https://famarehabilitaciones.com'
      }, {
        '@type': 'ListItem',
        position: 2,
        name: this.servicio.titulo,
        item: 'https://famarehabilitaciones.com/' + this.servicio.slug
      }, {
        '@type': 'ListItem',
        position: 3,
        name: this.titulo
      }]
    }
  }

}
</script>

<style scoped>
.filtroEnlace {
  cursor:pointer;
  text-decoration:underline;
  font-size: 13px;
  color: #1b2c3c;
}
</style>
