<template>
  <div :style="{'margin-top':'80px'}">
    <p v-for="entrada in lista_entradas" :key="entrada.slug">
      <nuxt-link
        :to="'/blog/' + entrada.slug"
        :style="{'padding-left': $breakpoint.is.mdAndUp ? padding_left_md + ' !important' : $breakpoint.is.smAndUp ? padding_left_sm + ' !important' : '12px !important',
                 'padding-right': $breakpoint.is.smAndUp ? padding_right_sm + ' !important' :'12px !important'}"
        class="dark--text"
      >
        {{ entrada.titulo }}
      </nuxt-link>
    </p>
  </div>
</template>

<script>
export default {
  data () {
    return {
      lista_entradas: [],
      padding_left_md: process.env.padding_left_md,
      padding_left_sm: process.env.padding_left_sm,
      padding_right_sm: process.env.padding_right_sm
    }
  },
  async asyncData ({ $axios, params, store }) {
    const entradasData = await $axios.$get('/api/entradas/')

    return {
      lista_entradas: entradasData
    }
  }
}
</script>

<style>

</style>
