<template>
  <div>
    <ServicioHome :imagen="imagen" :nombre="titulo" :descripcion_corta="descripcionCorta" />
    <v-container
      :style="{'margin-top': '40vh',
               'margin-bottom': '10vh'}"
      class="dark--text pa-0"
      fluid
    >
      <div
        :style="{
          'padding-left': $breakpoint.is.mdAndUp ? padding_left_md + ' !important' : $breakpoint.is.smAndUp ? padding_left_sm + ' !important' : '12px !important',
          'padding-right': $breakpoint.is.smAndUp ? padding_right_sm + ' !important' :'12px !important'
        }"
      >
        <u-animate-container>
          <u-animate
            :iteration="1"
            :offset="0"
            :begin="false"
            class="dark--text d-flex justify-start align-center"
            name="fadeInLeftBig"
            delay="0s"
            duration="1s"
            animate-class="animated"
          >
            <div
              :style="{ 'width':'100%', 'text-align':'center'}"
            >
              <h2
                :style="{'letter-spacing':'16px',
                         'font-size': '16px',
                         'font-weight':300,
                         'padding-right': $breakpoint.is.mdAndUp ? '170px !important' : $breakpoint.is.smAndUp ? '75px !important' : ''}"
              >
                PROYECTOS
              </h2>
              <v-divider :style="{'height':'20px'}" color="grey" class="mt-2 mb-8" />
            </div>
          </u-animate>
        </u-animate-container>
        <span v-if="descripcion" v-html="toHtml(descripcion.json)" />
      </div>
    </v-container>
    <ServicioProyectos :proyectos="linkedFrom.proyectoCollection.items" :style="{'margin-bottom':'40vh'}" />
  </div>
</template>

<script>
/* eslint-disable */
import ServicioHome from '@/components/Servicio/ServicioHome'
import ServicioProyectos from '@/components/Servicio/ServicioProyectos'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'

import { UAnimateContainer, UAnimate } from 'vue-wow'

import { serviciosQuery } from '~/graphql/query'

export default {
  components: {
    UAnimateContainer,
    UAnimate,
    ServicioHome,
    ServicioProyectos
  },
  async asyncData ({ $graphql, params }) {
    const resultsQuery = await $graphql.default.request(serviciosQuery, { slug: params.servicio })
    return resultsQuery.servicioCollection.items[0]
  },
  data () {
    return {
      padding_left_md: process.env.padding_left_md,
      padding_left_sm: process.env.padding_left_sm,
      padding_right_sm: process.env.padding_right_sm
    }
  },
  head () {
    return {
      title: this.metaTitulo,
      meta: [
        { hid: 'description', name: 'description', content: this.metaDescripcion },
        { property: 'og:image', content: this.imagen[0].secure_url }
      ]
    }
  },
  methods: {
    toHtml (jsonObject) {
      return documentToHtmlString(jsonObject)
    }
  },
  jsonld () {
    return {
      '@context': 'https://schema.org',
      '@type': 'BreadcrumbList',
      itemListElement: [{
        '@type': 'ListItem',
        position: 1,
        name: 'Inicio',
        item: 'https://famarehabilitaciones.com'
      }, {
        '@type': 'ListItem',
        position: 2,
        name: this.titulo
      }]
    }
  }
}
</script>

<style>

</style>
